html{
    scroll-behavior: smooth;
}
body{
    --bg-color: rgb(42, 42, 42);
    --text-color: rgba(245,245,245);
    background-color: var(--bg-color);
    color: var(--text-color);
    position: relative;
}
.btnTop{
    display: block;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 20px;
    outline: none;
    color: black;
    padding: 0.6rem;
    background-color: rgba(240, 240, 250, 0.8);
    border-radius: 50%;
    border: none;
}
.btnTop i{
    margin: 0;
}
.btnTop:visited, .btnTop:link, .btnTop:active, .btnTop:hover{
    background-color: rgba(240, 240, 250, 0.8);
}
.ui.relaxed.grid>.row>.column{
    text-align: center;
}
.output-box{
    background-image: url("./img/Sprinkle.svg");
    background-repeat: repeat;
    background-size: contain;
}
.output{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.output-buttons{
    padding: 2rem 0;
    text-align: center;
}
.output-buttons-num{
    min-width: 50px;
    background-color: rgb(27, 28, 29);
    display: inline-block;
    border-radius: 5px;
    padding: 0.5rem 0;
}
.output-margin{
    margin: 2rem auto;
    padding: 4rem 0 0 0;
}
.ui.segment.load-div{
    width: 100%;
    height: 50vh;
    background-color: rgba(0,0,0,.05);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.ui.inverted.dimmer.load-div-box{
    background-color: transparent;
}
.ui.inverted.dimmer .ui.loader{
    color: white;
}
.ui.card{
    display: inline-block;
    margin: 1rem 1rem;
    background-color: transparent;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.ui.card>.content>.header, .ui.cards>.card>.content>.header{
    color: var(--text-color);
}
.meta{
    margin-bottom: 0.75rem;
}
.date{
    color: rgba(245,245,245, 0.6);
}
.description-text{
    color: var(--bg-color);
}
.description{
    margin: auto 0;
}
.title-modal{
    color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.title-modal h1{
    margin: 0;
}
#image-modal{
    margin: 0 auto;
    height: 420px;
    max-width: 280px;
}
.runtime-modal{
    margin: calc(2rem - 0.14285714em) 0 1rem;
}
.ui.card>.image>img{
    height: 200px;
}
.ui[class*="left pointing"].label {
    margin-top: 0.6666em;
}
.card-body{
    height: 132px;
}
.ui.modal>.content>.image+.description{
    width: inherit;
}
.ui.modal>.content>.image{
    width: inherit;
}
.genre-container{
    width: 95%;
    margin: 1rem auto;
    display: none;
}
.genre-buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.genre-buttons .ui.button{
    display: inline-block;
    margin: 0.5rem 0.25rem;
}
.ui.empty.circular.label{
    margin-right: 0.78571429rem;
}
.genre-container-dropdown{
    text-align: center;
    margin: 2rem 0 ;
}
.ui.button.page-buttons{
    margin: 0;
    cursor: pointer;
}
.no-results-title{
    padding: 8rem 0 0 0;
    height: 70vh;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}
.hide{
    display: none;
}
@media screen and (min-width: 768px){
    .title-modal{
        margin-top: 2rem;
    }
}
@media screen and (min-width: 992px){
    .genre-container-dropdown{
        display: none;
    }
    .genre-container{
        display: block;
        width: 85%;
    }
}
@media screen and (min-width: 1400px){
    .genre-container{
        width: 60%;
    }
}