body{
    --bg-color: rgb(42, 42, 42);
    --text-color: rgba(245,245,245);
    background-color: var(--bg-color);
    color: var(--text-color);
    
}
.ui.relaxed.grid>.row>.column{
    text-align: center;
}
.output{
    margin: 2rem auto;
    padding: 4rem 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-image: url("./Sprinkle.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.ui.card{
    display: inline-block;
    margin: 1rem 1rem;
    background-color: transparent;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.ui.card>.content>.header, .ui.cards>.card>.content>.header{
    color: var(--text-color);
}
.meta{
    margin-bottom: 0.75rem;
}
.date{
    color: rgba(245,245,245, 0.6);
}
.description-text{
    color: var(--bg-color);
}
.description{
    margin: auto 0;
}
.title-modal{
    color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.title-modal h1{
    margin: 0;
}
#image-modal{
    margin: 0 auto;
    height: 420px;
    max-width: 280px;
}
.runtime-modal{
    margin: calc(2rem - 0.14285714em) 0 1rem;
}
.ui.card>.image>img{
    height: 200px;
}
.card-body{
    height: 132px;
}
.ui.modal>.content>.image+.description{
    width: inherit;
}
.ui.modal>.content>.image{
    width: inherit;
}
.genre-container{
    width: 95%;
    margin: 1rem auto;
    display: none;
}
.genre-buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.genre-buttons .ui.button{
    display: inline-block;
    margin: 0.5rem 0.25rem;
}
.ui.empty.circular.label{
    margin-right: 0.78571429rem;
}
.genre-container-dropdown{
    text-align: center;
    margin: 2rem 0 ;
}
@media screen and (min-width: 768px){
    .title-modal{
        margin-top: 2rem;
    }
}
@media screen and (min-width: 992px){
    .genre-container-dropdown{
        display: none;
    }
    .genre-container{
        display: block;
        width: 85%;
    }
}
@media screen and (min-width: 1400px){
    .genre-container{
        width: 60%;
    }
}